@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-Regular.woff2) format('woff2');
    font-weight: 400;
}

@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-Medium.woff2) format('woff2');
    font-weight: 500;
}

@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-SemiBold.woff2) format('woff2');
    font-weight: 600;
}

@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-Bold.woff2) format('woff2');
    font-weight: 700;
}

@font-face {
    font-family: 'NotoSansKR';
    src: url(../fonts/NotoSansKR-Regular.woff2) format('woff2');
    font-weight: 400;
}

@font-face {
    font-family: 'NotoSansKR';
    src: url(../fonts/NotoSansKR-Medium.woff2) format('woff2');
    font-weight: 500;
}

@font-face {
    font-family: 'NotoSansKR';
    src: url(../fonts/NotoSansKR-Bold.woff2) format('woff2');
    font-weight: 700;
}

@font-face {
    font-family: 'NotoSansKR';
    src: url(../fonts/NotoSansKR-Black.woff2) format('woff2');
    font-weight: 700;
}